body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "header header header header header"
    "chat chat query query query"
    "footer footer footer footer footer";
  gap: 20px;
  margin: 0px;
}

.chat {
  grid-area: chat;
  height: calc(100vh - 64px - 54px - 40px);
  display: flex;
  justify-content: center;
}

.prompt {
  grid-area: query;
  height: calc(100vh - 64px - 54px - 40px);
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

@media (max-width: 760px) {
  .main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "header"
      "chat"
      "query"
      "footer";
    gap: 10px;
    margin: 0px;
    flex-shrink: 1;
  }

  .chat {
    grid-area: chat;
    height: calc(100vh - 64px - 20px);
    display: flex;
    justify-content: center;
    margin-right: 8px;
  }

  .prompt {
    grid-area: query;
    height: auto;
    flex-direction: column;
    margin-right: 8px;
    margin-left: 8px;
  }
}

.main > * {
  padding: 0px;
}

.header {
  grid-area: header;
}

.chatbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.entry {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.tabarea {
  flex-grow: 1;
  padding: 16px;
  height: calc(100% - 200px);
}

.footer {
  grid-area: footer;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer > * {
  vertical-align: center;
  margin-right: 10px;
  padding: 10px;
}

.dialog {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.user {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.bot {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.source {
  display: flex;
  flex-direction: column;
  aligb-items: stretch;
  gap: 10px;
}

p {
  margin: 0;
}

.promptContainer {
  overflow-y: auto;
  height: 100%;
}

.promptText {
  white-space: pre-line;
}

.promptEditor {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

a.promptTabs:hover {
  cursor: pointer;
}

.documentList {
  width: 100%;
  padding: 0px;
  border-collapse: collapse;
  border-style: hidden;
}

.documentList td,
.documentList th {
  padding: 8px;
}

.documentList tr:nth-child(2n + 2) {
  background: rgba(234, 238, 242, 0.5);
}

.documentList th {
  background: #6e7781;
  color: white;
}

.documentPreview {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: calc(100vh - 660px);
  overflow-y: auto;
}

h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.docsContainer {
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 760px) {
  .docsContainer {
    width: calc(100vw - 64px);
    overflow-x: auto;
  }
}
