body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "header header header header header"
    "chat chat query query query"
    "footer footer footer footer footer";
  gap: 20px;
  margin: 0px;
}

.main > * {
  padding: 0px;
}

.header {
  grid-area: header;
}

.chat {
  grid-area: chat;
  height: calc(100vh - 64px - 54px - 40px);
  display: flex;
  justify-content: center;
}

.chatbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.entry {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.prompt {
  grid-area: query;
  height: calc(100vh - 64px - 54px - 40px);
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.tabarea {
  flex-grow: 1;
  padding: 16px;
}

.footer {
  grid-area: footer;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer > * {
  vertical-align: center;
  margin-right: 10px;
  padding: 10px;
}

.dialog {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.user {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.bot {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.source {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(100% - 16px);
}

fieldset {
  display: flex;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0.35em;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-block-end: 0px;
  flex-grow: 1;
}

p {
  margin: 0;
}

